# PyCharm
.idea/
# some working folders
output/
templates.old/
test_prg/


# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.sql

# due to using tox and pytest
.tox
.cache

.pytest_cache
