:host ::ng-deep .mat-list-item  
{  
	width: 100%; 
	height: 36px!important;  
	padding-top: 0px!important;
	margin: 0px;
}

:host ::ng-deep .mat-list-base
{
	padding-top: 4px!important;
}

.mat-list-item-content
{ 
	padding-left: 0px!important;
	padding-right: 8px!important;
}

.title-icon 
{ 
	margin-left: 5px; 
	margin-right: 3px; 
}
