.news-ticker
{
    width: 100%;
    height: 1.5rem;
    position: relative;
    overflow: hidden;
    background-color:  #f2f2f2;
}

$duration: 60s;

@-webkit-keyframes ticker 
{
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker 
{
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap 
{ 
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 1.5rem;
    background-color: rgba( #f2f2f2, 0.9); 
    padding-left: 100%;
    box-sizing: content-box;
    .ticker 
    {
        display: inline-block;
        height: 1.5rem;
        line-height: 1.5rem;  
        white-space: nowrap;
        padding-right: 100%;
        box-sizing: content-box;

        -webkit-animation-iteration-count: infinite; 
                animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-name: ticker;
                animation-name: ticker;
        -webkit-animation-duration: $duration;
                animation-duration: $duration;

        &__item {

            display: inline-block;
            padding: 0 0rem;
            font-size: 1.5rem;
            color: black;   
        }
    }
}

span
{
    padding-left: 20px;
    .news_alert
    {
        color: red;
    }
    .news_normal
    {
        color: #0066A1;
    }
}